<!DOCTYPE html>
{%- from "macro.html.j2" import custom_include %}
{%- from "macro.html.j2" import ns %}
<html lang="{{ locale.shortcode }}">
  <head>
    <title>{{ site.title }} - {{ _("Resume") }}</title>
{%- if site.description %}
    <meta name="description" content="{{ site.description }}" />
{%- endif %}
{%- filter indent(4) %}
<!-- Import Common Headers -->
<!-- ====================================================================== -->
{%    include "partials/header.html.j2" %}
{%- endfilter %}
  </head>
  <body data-theme="light" data-spy="scroll" data-target="#top-navbar" data-offset="100" style="">
{%- filter indent(4) %}
<!-- Import Navbar -->
<!-- ====================================================================== -->
{%-   include "partials/navigators/navbar.html.j2" %}
<!-- Import Home Content -->
<!-- ====================================================================== -->
{%-   include "partials/sections/home.html.j2" %}
{%- endfilter %}
{%- set ns.background ="bg-white" %}
{%- for i_section in site.section_order %}
{%-   if subs(i_section,context()) %}
    <!-- Import {{ i_section[0] | upper }}{{ i_section[1:] }} Content -->
    <!-- ====================================================================== -->
    <div class="container-fluid section-holder d-flex {{ ns.background }}">
{%-     filter indent(6) %}
{%-       include "partials/sections/" ~ i_section ~ ".html.j2" | indent(4) %}
{%-     endfilter %}
    </div>
{#- Alter background color for next section #}
{%-       if ns.background == "bg-white" %}
{%-         set ns.background = "bg-dimmed" %}
{%-       else %}
{%-         set ns.background = "bg-white" %}
{%-       endif %}
{%-     endif %}
{%-   endfor %}
{%- filter indent(4) %}

  <div id="terminal-overlay" class="d-none">
  <div class"container" id="console">
    <div class="close-terminal btn btn-danger" onclick="closeTerm()">
      X
    </div>
    <div class="terminal-content">
      <p>
        <span>
          <span class="terminal-ps1"> root</span><span class="terminal-ps1">@</span><span class="terminal-ps1">romaindeville.fr</span><span class="terminal-ps1">:~#</span>
        </span>
        <span>
          <span class="terminal-cmd">./load_monospace.sh</span>
          <span class="terminal-cmd">|</span>
          <span class="terminal-cmd">tail</span>
          <span class="terminal-cmd"> -f</span>
          <span class="terminal-cmd">/var</span><span class="terminal-cmd">/log</span><span class="terminal-cmd">/loading_font.log<br></span>
        </span>
        <span>
          <span class="terminal-log"> {{ _('Loading monospace font, please wait.') }} <br></span>
          <span class="terminal-log"> {{ _('Below is our loving Nyan Cat while waiting :-).') }} <br> </span>
        </span>
        <span>
          <span class="terminal-load">[</span><span class="terminal-bar">=====</span><span class="terminal-bar">=====</span><span class="terminal-bar">=====</span><span class="terminal-bar">=====</span><span class="terminal-bar">=====</span><span class="terminal-bar">=====</span><span class="terminal-bar">=====</span><span class="terminal-bar">=====</span><span class="terminal-bar">=====</span><span class="terminal-bar">=====</span><span class="terminal-load">]</span>
          <span class="terminal-percent">
            <span class="terminal-status"> 0% </span>
            <span class="terminal-status"> 10% </span>
            <span class="terminal-status"> 20% </span>
            <span class="terminal-status"> 30% </span>
            <span class="terminal-status"> 40% </span>
            <span class="terminal-status"> 50% </span>
            <span class="terminal-status"> 60% </span>
            <span class="terminal-status"> 70% </span>
            <span class="terminal-status"> 80% </span>
            <span class="terminal-status"> 90% </span>
            <span class="terminal-status"> 100% </span>
          </span>
        </span>
        <br>
        <span class="terminal-last-line">
          {{ _('You can now close this terminal.') }}
        </span>
      <p>
    </div>
    <!-- Nyan Cat HTML+CSS From https://github.com/cristurm/nyan-cat -->
    <div class="nyan-content">
      <div class="sparks-combo">
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
        <div class="spark"></div>
      </div>

      <div id="wave-a" class="hot rainbow"></div>
      <div id="wave-a" class="cold rainbow"></div>

      <div id="wave-b" class="hot rainbow"></div>
      <div id="wave-b" class="cold rainbow"></div>

      <div id="nyan-cat" class="frame1">
        <div id="tail"></div>

        <div id="paws"></div>

        <div id="pop-tarts-body">
          <div id="pop-tarts-body-cream"></div>
        </div>

        <div id="head">
          <div id="face"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- Import Footer -->
<!-- ====================================================================== -->
{%    include  "partials/footer.html.j2" %}
{%- endfilter %}
  </body>
</html>

{# **************************************************************************
 # VIM MODELINE
 # vim: ft=html.jinja2: fdm=indent:
 # ************************************************************************** #}
