
<button onclick="topFunction()" id="myBtn" title="Go to top" class="fas fa-arrow-circle-up"></button>
<footer class="container-fluid text-center align-content-center footer pb-2">
  <hr />
  <div class="container">
    <div class="row text-left">
      <div class="col-md-7 text-md-left text-center">
        <i class="fas fa-info-circle"></i>
        {{ _('This website was strongly inspired from') }}
        <a href="https://github.com/hugo-toha/toha">
          <img src="/assets/img/theme-logo.png" style="height:25px;">Toha Theme
        </a>
        {{ _('for') }}
        <a href="https://gohugo.io/">
          <img src="/assets/img/hugo-logo.svg" style="height:25px;">
        </a>
    </div>
    <div class="col-md-5 text-md-right text-center">
        <i class="fas fa-copyright"></i> Copyright 2021 - Romain Deville<br>
        <a class="data-privacy-link" onclick="openDataPrivacy()"><i class="fas fa-lock"></i> {{ _("Data Privacy") }}</a>
    </div>
  </div>
</footer>
<!-- Import Common Javascript -->
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/jquery.filterizr.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/itype.min.js"></script>
<script src="/js/konami.js"></script>
<script src="/js/home.js"></script>
