<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<!-- Import Common CSS -->
<link rel="stylesheet" href="/css/lib/font_awesome.css"/>
<link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/colors.css"/>
<link rel="stylesheet" href="/css/fonts.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/theme.css"/>
<!-- Import Common Javascript -->
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/jquery.filterizr.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/itype.min.js"></script>
<script src="/js/home.js"></script>
<script src="/js/navbar.js"></script>
<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ site.logo.favicon }}" />
