<!--- Index Page Specific Scripts -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/main.js"></script>
<script src="/js/itype.min.js"></script>
<script src="/js/github-button.js"></script>
<script src="/js/home.js"></script>
<script src="/js/jquery.filterizr.min.js"></script>
