[%- if basics %]
    \vspace{1em}
    \parbox[t][][t]{\dimexpr \linewidth}{%
      \centering
[%-   if "email" in basics and basics.email %]
      \infofield{\fa{envelope}}{[[ basics.email ]]}%
[%-   endif %]
[%-   if "phone" in basics and basics.phone %]
      \infofield{\fa{phone}}{[[ basics.phone ]]}
[%-   endif %]
[%-   if "website" in basics and basics.website %]
    \homepage{[[ basics.website ]]}{[[basics.website | replace("https://","")]]}
[%-   endif %]
[%-   if basics.profiles %]
[%-     for i_profile in basics.profiles %]
[%-       if i_profile.network | lower in ["github","linkedin"] %]
    \profile%
      {[[ i_profile.network ]]}%
      {[[ i_profile.url ]]}%
      {[[ i_profile.username ]]}%
      {}
[%-       endif %]
[%-     endfor %]
[%-   endif %]
  }
[%- endif %]
