[%- from "macro.tex.j2" import compute_date with context %]
[%- from "macro.tex.j2" import compute_duration with context %]
[%- if experiences %]
  \section{[[ _('Work Experiences') ]]}%
    \vspace{-1em}
[%-   for idx_work in range([experiences.max_pdf,experiences.list|length]|min) %]
[%-     set i_work = experiences.list[idx_work] %]
[%-     set resp_size = 0 %]
[%-     if i_work.company %]
    \jobcompany%
[%-       if "logo" in i_work.company and i_work.company.logo %]
      {[[ i_work.company.logo ]]}%
[%-       else %]
      {}%
[%-       endif %]
      {[[ i_work.company.name ]]}%
      {[[ i_work.company.url ]]}%
      {[[ location(i_work.company.location) ]]}%
[%-       if "pdf_desc" in i_work.company and i_work.company.pdf_desc %]
      {\footnotesize [[ i_work.company.pdf_desc ]]}%
[%-       else %]
      {}%
[%-       endif %]
[%-     endif %]
[%-     for i_position in i_work.positions %]
    \jobposition%
      {[[ i_position.designation ]]}%
[%-       if i_position.subdesignation %]
      {[[ i_position.subdesignation ]]}
[%-       else %]
      {}
[%-       endif %]
[%-       if i_position.start %]
      {[[ compute_date(i_position.start, i_position.end) ]]}%
      {[[ compute_duration(i_position.start, i_position.end) ]]}%
[%-       endif %]
[%-       if "pdf_desc" in i_position and i_position.pdf_desc %]
      {[[ ('\n' ~ i_position.pdf_desc) | wordwrap(78) | replace('\\n','\\\\') ]]}
[%-       else  %]
      {}
[%-       endif  %]
[%-       if loop.index != i_work.positions | length %]
        \textcolor{midrules}{\rule{\linewidth}{0.5pt}}
[%-       endif %]
[%-     endfor %]
[%-     if idx_work + 1 < [experiences.max_pdf,experiences.list|length]|min %]
        \textcolor{endrules}{\rule{\linewidth}{0.5pt}}
[%-     endif %]
[%-   endfor %]
[%- endif %]
