[%- macro compute_date(start,end,show_end=True,str_format="%b %Y") %]
[%- set ns = namespace({
      "start":"",
      "end":"",
      "return_string":""})
%]
[%-   set ns.return_string = "" %]
[%-   set ns.start = iso_date(start) %]
[%-   if show_end %]
[%-     set ns.return_string = ns.return_string ~ format_date(ns.start,str_format) ~ "--- " %]
[%-     if end %]
[%-       set ns.end = iso_date(end) %]
[%-       set ns.return_string = ns.return_string ~ format_date(ns.end,str_format) %]
[%-     else %]
[%-       set ns.end = now_date %]
[%-       set ns.return_string = ns.return_string ~ _('present') %]
[%-     endif %]
[%-   else %]
[%-     set ns.return_string = format_date(ns.start,str_format) %]
[%-   endif %]
[[-   ns.return_string ]]
[%- endmacro %]
[%- macro compute_duration(start,end) %]
[%- set ns = namespace({
      "start":"",
      "end":"",
      "duration":"",
      "years":"",
      "months":"",
      "return_string":""})
%]
[%-   set ns.return_string = "" %]
[%-   set ns.start = iso_date(start) %]
[%-   if end %]
[%-     set ns.end = iso_date(end) %]
[%-   else %]
[%-     set ns.end = now_date %]
[%-   endif %]
[%-   set ns.duration = relative_delta_date(ns.end, ns.start) %]
[%-   set ns.years = ns.duration.years %]
[%-   if ns.duration.days > 15 %]
[%-     set ns.months = ns.duration.months + 1 %]
[%-   else %]
[%-     set ns.months = ns.duration.months %]
[%-   endif %]
[%-   if ns.months == 12 %]
[%-     set ns.months = 0 %]
[%-     set ns.years = ns.years + 1 %]
[%-   endif %]
[%-   if ns.years > 0 %]
[%-     if ns.years > 1 %]
[%-       set ns.return_string = ns.return_string ~ ns.years ~ " " ~ _('years') %]
[%-     else %]
[%-       set ns.return_string = ns.return_string ~ ns.years ~ " " ~ _('year') %]
[%-     endif %]
[%-   endif %]
[%-   if ns.months > 0 %]
[%-     if ns.months > 1 %]
[%-       set ns.return_string = ns.return_string ~ " " ~ ns.months ~ " " ~ _('months') %]
[%-     else %]
[%-       set ns.return_string = ns.return_string ~ " " ~ ns.months ~ " " ~ _('month') %]
[%-     endif %]
[%-   endif %]
[[-    ns.return_string ]]
[%- endmacro %]
