[%- macro dotskills() %]
[%-   for i_skill in skills_ats %]
[%-     if i_skill.category == _("Soft Skills") %]
  \parbox[t]{0.245\linewidth}{
[%-     else %]
  \parbox[t]{0.745\linewidth}{
[%-     endif %]
    \skillsection{[[ i_skill.category ]]}
[%-     if i_skill.category != _("Soft Skills") %]
    \parbox[t]{0.33\linewidth}{
[%-     endif %]
[%-       set ns = namespace({ "idx_skill" : 0 }) %]
[%-       for i_subskill in i_skill.list %]
[%-         if "fa-icon" in i_subskill and i_subskill['fa-icon'] %]
    \fa{[[i_subskill['fa-icon'] ]]}~
[%-         elif "icon" in i_subskill and i_subskill['icon'] %]
    \includegraphics[width=1em,height=.85em]{[[ i_subskill['icon'] ]]}~
[%-         endif -%]
    [[ i_subskill.name ]] \\
[%-       set ns.idx_skill = ns.idx_skill + 1 %]
[%-       if i_skill.category != _("Soft Skills") and ns.idx_skill == 5 %]
[%-       set ns.idx_skill = 0 %]
    }
    \hfill
    \parbox[t]{0.33\linewidth}{
[%-       endif %]
[%-       endfor %]
[%-       if i_skill.category != _("Soft Skills")  %]
    }
[%-       endif %]
  }
  \hfill
[%-   endfor %]
[%- endmacro %]
  \section{[[ _('Skills')]]}
[[ dotskills() ]]
