[%- macro skill(i_subskill, i_skill) %]
  \skill%
        {[[ i_subskill.name ]]}%
        {[[ i_subskill.level]]}%
        {}%
[%-   if "pdf_desc" in i_subskill and i_subskill['pdf_desc'] %]
        {[[ i_subskill['pdf_desc'] ]]}%
[%-   else %]
        {}%
[%-   endif %]
[%-   if "color" in i_subskill and i_skill['color'] %]
        {[[ i_skill['color'] ]]}
[%-   else %]
        {}
[%-   endif %]
[%- endmacro %]
[%- macro dotskills() %]
[%-   set ns = namespace({ "idx_skill" : 0 }) %]
[%-   for i_skill in skills %]
  \parbox[t]{0.48\linewidth}{
    \skillsection{[[ i_skill.category ]]}
[%-   for i_subskill in i_skill.list %]
[[- skill(i_subskill, i_skill) ]]
[%-   endfor %]
  }
[%-     if ns.idx_skill % 2 == 0 %]
      \hspace{0.01\linewidth}{\color{midrules}\vline}\hfill
[%-     elif ns.idx_skill < skills | length - 1 %]
      \vspace{.5em}
      \textcolor{midrules}{\rule{\linewidth}{0.5pt}}%
      \vspace{-.5em}
[%-     endif %]
[%-   set ns.idx_skill = ns.idx_skill + 1 %]
[%-   endfor %]
[%- endmacro %]
  \section{[[ _('Skills')]]}
[[ dotskills() ]]
