[%- from "macro.tex.j2" import compute_date with context %]
[%- from "macro.tex.j2" import compute_duration with context %]
[%- if experiences %]
  \section[\fa{cogs}]{[[ _('Work Experiences') ]]}%
    \vspace{-1em}
[%-   for idx_work in range([experiences.max_pdf,experiences.list|length]|min) %]
[%-     set i_work = experiences.list[idx_work] %]
[%-     set resp_size = 0 %]
[%-     if i_work.company %]
    \jobcompany%
[%-       if "logo" in i_work.company and i_work.company.logo %]
      {[[ i_work.company.logo ]]}%
[%-       else %]
      {}%
[%-       endif %]
      {[[ i_work.company.name ]]}%
      {[[ i_work.company.url ]]}%
      {[[ location(i_work.company.location) ]]}%
[%-       if "desc" in i_work.company and i_work.company.desc %]
      {[[ i_work.company.desc ]]}%
[%-       else %]
      {}%
[%-       endif %]
[%-     endif %]
[%-     for i_position in i_work.positions %]
    \jobposition%
      {[[ i_position.designation ]]}%
[%-     if i_position.start %]
      {[[ compute_date(i_position.start, i_position.end) ]]}%
      {[[ compute_duration(i_position.start, i_position.end) ]]}%
[%-     endif %]
      {[[ ('\n' ~ i_position.description) | wordwrap(78) | replace('\\n','\\\\') ]]}
[%-       if i_position.responsibilities %]
      {%
        \begin{itemize}
[%-         set resp_size = i_position.responsibilities|length %]
[%-         for i_resp in i_position.responsibilities %]
[%-           if loop.index < 4 %]
          \item [[ i_resp ]]
[%-           endif %]
[%-         endfor %]
        \end{itemize}
      }%
[%-       else %]
      {}%
[%-       endif %]
[%-     if loop.index != i_work.positions | length %]
        \textcolor{midrules}{\rule{\linewidth}{0.5pt}}
[%-     endif %]
[%-     endfor %]
[%-     if loop.index != experiences.max_pdf  %]
        \textcolor{endrules}{\rule{\linewidth}{0.5pt}}
[%-     endif %]
[%-   endfor %]
[%- endif %]
