[%- if "name" in basics and basics.name %]
\name{[[ basics.name ]]}
[%- endif %]
[%- if basics.tagline %]
\tagline{%
  \textit{\large [[ basics.label | wordwrap(78) | indent(2) ]]}

  {\small
  [[ basics.tagline | wordwrap(78) | indent(2) ]]
  }
}
[%- endif %]

[%- if basics.picture %]
% Make photo exactly match the header with margintop/marginright/marginbottom
% as margin
\photo[square]{[[ basics.picture.light ]]}{\dimexpr \headerheight}
[%- endif %]
