\documentclass[
  paper=a4,
  fontsize=10pt
]{resume}

% Set geometry
% ------------------------------------------------------------------------------
\setlength\highlightwidth{6.5cm}
% Note that margintop gets added to this value, i.e. the header bar is 5cm
\setlength\headerheight{3cm}
\setlength\marginleft{0.5cm}
\setlength\marginright{\marginleft}
\setlength\margintop{1cm}
\setlength\marginbottom{1cm}

% IMAGES PATH
% ------------------------------------------------------------------------------
\graphicspath{ {../assets/img/} }

% FONTS
% ------------------------------------------------------------------------------
\setmainfont{\custommainfont}
\renewfontfamily\nerdfont{\customnerdfont}

% COLORS
% ------------------------------------------------------------------------------
% Basic colors
[%- if light.secondary %]
\definecolor{custom_section_title}{RGB}{[[ light.secondary ]]}
\colorlet{section_title}{custom_section_title}
[%- endif %]
[%- if light.secondary_light %]
\definecolor{custom_calendar}{RGB}{[[ light.secondary_light ]]}
\colorlet{calendar}{custom_calendar}
[%- endif %]
[%- if light.ternary_light %]
\definecolor{custom_location}{RGB}{[[ light.ternary_light ]]}
\colorlet{location}{custom_location}
\colorlet{school_name}{custom_location}
[%- endif %]
[%- if light.text_color %]
\definecolor{custom_body}{RGB}{[[ light.text_color ]]}
\colorlet{body}{custom_body}
[%- endif %]
% Bar background and foreground
[%- if light.background_dimmed %]
\definecolor{custom_highlightbarcolor}{RGB}{[[ light.background_dimmed ]]}
\colorlet{highlightbarcolor}{custom_highlightbarcolor}
[%- endif %]
[%- if light.background %]
\definecolor{custom_headerbarcolor}{RGB}{[[ light.background_dark ]]}
\colorlet{headerbarcolor}{custom_headerbarcolor}
[%- endif %]
[%- if light.inv_text_color %]
\definecolor{custom_headerfontcolor}{RGB}{[[ light.inv_text_color ]]}
\colorlet{headerfontcolor}{custom_headerfontcolor}
[%- endif %]
% Sidebar specific color
[%- if light.primary %]
\definecolor{custom_contact_icon}{RGB}{[[ light.primary ]]}
\colorlet{contact_icon}{custom_contact_icon}
\colorlet{job_company}{custom_contact_icon}
\colorlet{volunteer_organization}{custom_contact_icon}
\colorlet{school_diploma}{custom_location}
[%- endif %]
[%- if light.ternary_lightest %]
\definecolor{custom_position}{RGB}{[[ light.ternary_lightest ]]}
\colorlet{job_position}{custom_position}
\colorlet{volunteer_position}{custom_position}
[%- endif %]


% Content
% ------------------------------------------------------------------------------
\begin{document}
[% include "header.tex.j2" %]
\makeheader

\highlightbar{
[% include "contact.tex.j2" %]
[% include "network.tex.j2" %]
[% include "languages.tex.j2" %]
[% include "skills.tex.j2" %]
}

\mainbar{
[%- include "experiences.tex.j2" %]
[%- include "volunteer.tex.j2" %]
  \vspace{-1.5em}
[%- include "education.tex.j2" %]
[%- include "interests.tex.j2" %]
}
\makebody

\end{document}
% *****************************************************************************
% VIM MODELINE
% vim: ft=tex
% *****************************************************************************
