\documentclass[
  paper=a4,
  fontsize=10pt
]{resume}

% Set geometry
% ------------------------------------------------------------------------------
\setlength\highlightwidth{6.5cm}
% Note that margintop gets added to this value, i.e. the header bar is 5cm
\setlength\headerheight{2.25cm}
\setlength\marginleft{0.5cm}
\setlength\marginright{\marginleft}
\setlength\margintop{0.5cm}
\setlength\marginbottom{\margintop}

% IMAGES PATH
% ------------------------------------------------------------------------------
\graphicspath{ {assets/img/} }

% FONTS
% ------------------------------------------------------------------------------
\setmainfont{\custommainfont}
\renewfontfamily\nerdfont{\customnerdfont}

% COLORS
% ------------------------------------------------------------------------------
% Basic colors
[%- if light.secondary %]
\definecolor{custom_section_title}{RGB}{[[ light.ternary_darkest ]]}
\colorlet{section_title}{custom_section_title}
[%- endif %]
[%- if light.ternary_dark %]
\definecolor{custom_skill_title}{RGB}{[[ light.ternary_dark ]]}
\colorlet{skill_section}{custom_skill_title}
[%- endif %]
[%- if light.ternary_light %]
\definecolor{custom_calendar}{RGB}{[[ light.ternary_light ]]}
\colorlet{calendar}{custom_calendar}
[%- endif %]
[%- if light.ternary_dark %]
\definecolor{custom_calendar_dark}{RGB}{[[ light.ternary_lightest ]]}
\colorlet{calendar_dark}{custom_calendar_dark}
[%- endif %]
[%- if light.secondary_light %]
\definecolor{custom_location}{RGB}{[[ light.secondary_light ]]}
\colorlet{location}{custom_location}
[%- endif %]
[%- if light.text_color %]
\definecolor{custom_body}{RGB}{[[ light.text_color ]]}
\colorlet{body}{custom_body}
[%- endif %]
% Bar background and foreground
[%- if light.background_dimmed %]
\definecolor{custom_highlightbarcolor}{RGB}{[[ light.background_dimmed ]]}
\colorlet{highlightbarcolor}{custom_highlightbarcolor}
[%- endif %]
[%- if light.background %]
\definecolor{custom_headerbarcolor}{RGB}{[[ light.background_dark ]]}
\colorlet{headerbarcolor}{custom_headerbarcolor}
[%- endif %]
[%- if light.inv_text_color %]
\definecolor{custom_headerfontcolor}{RGB}{[[ light.text_color ]]}
\colorlet{headerfontcolor}{custom_headerfontcolor}
[%- endif %]
% Sidebar specific color
[%- if light.primary %]
\definecolor{custom_contact_icon}{RGB}{[[ light.primary_light ]]}
\colorlet{contact_icon}{custom_contact_icon}
\colorlet{job_company}{custom_contact_icon}
\colorlet{volunteer_organization}{custom_contact_icon}
[%- endif %]
[%- if light.primary_lightest %]
\definecolor{custom_school_name}{RGB}{[[ light.primary_lightest ]]}
\colorlet{school_name}{custom_school_name}
[%- endif %]
[%- if light.secondary_lightest %]
\definecolor{custom_position}{RGB}{[[ light.secondary ]]}
\colorlet{job_position}{custom_position}
\colorlet{volunteer_position}{custom_position}
\colorlet{school_diploma}{custom_position}
[%- endif %]

% Content
% ------------------------------------------------------------------------------
\begin{document}
[% include "section/header.tex.j2" %]
\makeheader

\highlightbar{
[%- for i_section in pdf.sidebar %]
[%-   if "vspace" in i_section %]
  [[ i_section ]]
[%-   else %]
  [% include "section/" + i_section + ".tex.j2" %]
[%-   endif %]
[%- endfor %]
}

\mainbar{
[%- for i_section in pdf.mainbar %]
[%-   if "vspace" in i_section %]
  [[ i_section ]]
[%-   else %]
  [% include "section/" + i_section + ".tex.j2" %]
[%-   endif %]
[%- endfor %]
{
  \mbox{}\vspace*{\fill}
  \scriptsize\textit{[[ _('If you are reading this resume using PDF viewer,
  light blue text  are clickable hyperlinks.') ]]}}
}

\makebody

\end{document}
% *****************************************************************************
% VIM MODELINE
% vim: ft=tex
% *****************************************************************************
