  \section[\nerdfont]{[[ _('Skills')]]}
[%- for i_skill in skills.professional %]
    \skillsection{[[ i_skill.category ]]}
[%-   for i_subskill in i_skill.list %]
      \skill%
        {[[ i_subskill.name ]]}%
        {[[ i_subskill.level]]}%
[%-     if "fa-icon" in i_subskill and i_subskill['fa-icon'] %]
        {\fa{[[i_subskill['fa-icon'] ]]}}%
[%-     elif "nf-icon" in i_subskill and i_subskill['nf-icon'] %]
        {\nerdfont[[ i_subskill['nf-icon'] ]]}%
[%-     elif "icon" in i_subskill and i_subskill['icon'] %]
        {\includegraphics[height=1em]{[[ i_subskill['icon'] ]]}}%
[%-     else %]
        {}%
[%-     endif %]
[%-     if "short_summary" in i_subskill and i_subskill['short_summary'] %]
        {[[ i_subskill['short_summary'] ]]}%
[%-     else %]
        {}%
[%-     endif %]
[%-     if "color" in i_subskill and i_subskill['color'] %]
        {[[ i_subskill['color'] ]]}
[%-     else %]
        {}
[%-     endif %]
[%-   endfor %]
[%- endfor %]
