<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="languageSelector" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img class="flag" style="height:20px;" src="../assets/img/flag/{{ locale.code }}.64.png" alt="{{ locale.language_name}} {{ _('Flag') }}">
    {{ locale.language_name }}
  </a>
  <div class="dropdown-menu" aria-labelledby="languageSelector">
{%- for i_lang in all_locale.locale %}
    <a class="dropdown-item nav-link languages-item" href="../{{ i_lang.code }}">
      <img class="flag" style="height:20px;" src="../assets/img/flag/{{ i_lang.code }}.64.png" alt="{{ i_lang.language_name}} {{ _('Flag') }}">
      {{ i_lang.language_name }}
    </a>
{%- endfor %}
  </div>
</li>